{% extends 'base.html.twig' %}

{% block title %}Add Months to Habit{% endblock %}

{% block main %}
    <h1 class="text-center">Add the months where you want to track your new habit</h1>
    <div class="row">
        <div class="col">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

