{% extends 'base.html.twig' %}

{% block title %}Add Months to Habit{% endblock %}

{% block main %}

        <div class="row">
                <div class="col-6">
                    {{  form_start(form) }}
                        {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>

                <div class="col-6">

                </div>
        </div>
{% endblock %}

