{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block main %}
    <div class="row">
        <div class="col align-self-center">
            <div class="d-flex justify-content-center">
                <form class="form-signin" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}

                    <label for="oldPassword" class="sr-only">Old Password</label>
                    <input type="password" name="oldPassword" id="oldPassword" class="form-control mb-3" placeholder="Old Password" required>
                    <label for="newPassword" class="sr-only">New Password</label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control mb-3" placeholder="New Password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Change password
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

