a.nav-link {
    color: #f2f2f2;
}
.nav-link:hover {
    color: #495057;
}

main {
    min-height: 90vh;
    padding-bottom: 120px;
    padding-top: 40px;
}

.display-2 , .lead {
    color: #f2f2f2;
}

.form-signin {
    width: 50%;
}

.check-button {
    background-color: #e2dfdf; /* Green */
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    display: flex;
    font-size: 16px;
}

.checked {
    background-color: #17a2b8 !important;
}
