{% extends 'base.html.twig' %}
{% import '_macros.html.twig' as macros %}

{% block title %}Habit Tracker{% endblock %}

{% block css %}
    {{ parent() }}
    <script src="{{asset('css/main.css')}}"></script>
{% endblock css%}

{% block main %}
    <h2>Nice to see you
        {% if app.user is empty %}

        {% else %}
            {{ app.user.email }}
        {% endif %}

        👋</h2>

    {% if app.user is empty %}
        <p>Please login to manage your habits and see your progress</p>
    {% else %}
        <p>- go track you habits or add new habits</p>
    {% endif %}

{% endblock %}